.speakers__inner {
    padding-block: 50px 70px;
}

.speakers__page-title {
    @include h1-title;
    margin-block-end: 22px;
    text-align: center;
    text-transform: uppercase;
}
.speakers__page-description {
    @include page-description;
    margin-block-end: 40px;
    text-align: center;
    p:last-child {
        margin-block-end: 0;
    }
}
.speakers__filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 47px;
}
.speakers__filter-label {
    margin-block-end: 22px;
    font-size: 17px;
    font-weight: 500;
    color: $text-color-black;
    text-transform: uppercase;
}
.speakers__filter-select {
    display: none;
}
.nice-select.speakers__filter-select {
    @include select-list-nice-select;
    width: 100%;
    max-width: 450px;
    float: none;
    clear: unset;
}

.speakers__teasers {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 2.6%;
    row-gap: 70px;
    @include media-breakpoint-down(xl) {
        column-gap: 5%;
    }

    @include media-breakpoint-down(lg) {
        column-gap: 10%;
    }
}
.speakers__teasers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 23%;

    @include media-breakpoint-down(xl) {
        width: 30%;
    }

    @include media-breakpoint-down(lg) {
        width: 45%;
    }

    @include media-breakpoint-down(sm-480) {
        width: 100%;
    }
}
.speakers__teaser-category {
    @include h2-title;
    margin-block-end: 20px;
    color: $text-color-secondary;
    text-transform: uppercase;
    text-align: center;
}
.speakers__teaser-image-wrapper {
    margin-block-end: 25px;
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.speakers__teaser-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.speakers__teaser-name {
    @include h5-title;
    margin-block-end: 15px;
    text-transform: uppercase;
    text-align: center;
}
.speakers__teaser-description {
    @include teaser-description;
    text-align: center;
    margin-block-end: 15px;
    p:last-child {
        margin-block-end: 0;
    }
}
.speakers__teaser-link {
    @include button-link;
    margin-block-start: auto;
    margin-inline: auto;
}