# Configuration
wp-config.php
wp-config-local.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Log files
*.log

# htaccess
/.htaccess
.htaccess

# WP-CLI deploy tool
deploy/**
/wp-cli.yml

.idea/
.DS_Store
wp-cli.phar
**/.vscode/**
*.map
.docksal

**/node_modules/**